ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

td {
	padding: .3rem .3rem .3rem 0;

	// Change to nth selector
	&:not(:first-child) {
		padding-left: .3rem;
	}
}

a {
	text-decoration: none;
}
